@import 'style.css';

body{
    background-image: url("../images/bg-header-desktop.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
}

p{
    line-height: 1.5rem;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    gap: 1rem;
    margin: auto 10rem;
}

.header-logo{
    margin-top: 20%;
    margin-bottom: 3rem;
}

.header-titulo{
    font-family: var(--font);
    font-weight: 600;
    font-size: 3rem;
    color: var(--color-dark-gray);
    text-align: center;
}

.header-paragrafo{
    font-size: 1rem;
    font-family: var(--font);
    font-weight: 400;
    color: var(--color-gray);
    padding: 1.5rem;
    text-align: center;
}

.buttons{
    display: flex;
    gap: 2rem;
    justify-content: center;
    font-weight: 600;
}

a{
    font-family: var(--font);
    text-decoration: none;
    color: var(--color-white);
    border-color: 1rem solid;
    padding: 1rem 2rem;
    border-radius: 2rem;
    margin-bottom: 6rem;
}

.header-button-cyan{
    background-color: var(--color-cyan);
}

.header-button-blue{
    background-color: var(--color-blue);
}

@media (max-width: 970px){
    body{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 0 2%;
        background-image: url("../images/bg-header-mobile.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top;
    }
    
    header{
        margin: 0;
    }

    .header-titulo{
        font-size: 3rem;
    }

    .buttons{
        display: flex;
        gap: 1.5rem;
        flex-wrap: wrap;
    }

    a{
        margin-bottom: 0;
    }
}