@import url('style.css');

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-titulo {
    font-size: 2rem;
    font-family: var(--font);
    font-weight: 600;
    color: var(--color-dark-gray);
}

.main-paragrafo{
    font-size: 1rem;
    font-family: var(--font);
    font-weight: 400;
    color: var(--color-gray);
    padding: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
}

.main-container{
    display: flex;
    text-align: start;
    margin-bottom: 6rem;
}

.main-container-conteudo{
    margin-left: 5rem;
    margin-top: 6rem; 
}

.main-conteudo-titulo{
    font-size: 1.5rem;
    font-family: var(--font);
    font-weight: 600;
    color: var(--color-dark-gray);
    margin-bottom: 0.5rem;
}

.main-conteudo-paragrafo{
    font-size: 0.8rem;
    font-family: var(--font);
    font-weight: 400;
    color: var(--color-gray);
    margin-bottom: 2rem;
}

@media(max-width: 970px){
    .main-container{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
    .main-titulo{
        text-align: center;
        margin-top: 20%;
    }

    .main-container-imagem{
        text-align: center;
    }

    .main-container-conteudo{
        margin-left: 0;
        margin-top: 2.5rem;
    }
    
}